<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
     </ion-buttons>
      <ion-title>
          Configurações
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-label position="floating">Empresa</ion-label>
      <ion-input name="empresa" type="text" value="01 - Produtos Hospitalares"></ion-input>
      <ion-icon name="search" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Filial</ion-label>
      <ion-input name="filial" type="text" value="01 - Filial Rio de Janeiro"></ion-input>
      <ion-icon name="search" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Estoque</ion-label>
    <ion-input name="estoque" type="text" value="RJ - Rio de Janeiro"></ion-input>
    <ion-icon name="search" slot="end"></ion-icon>
</ion-item>
<ion-item>
  <ion-label position="floating">Almoxarifado</ion-label>
  <ion-input name="almoxarifado" type="text" value="AM - Liberado Venda"></ion-input>
  <ion-icon name="search" slot="end"></ion-icon>
</ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button color="success">
              <ion-icon slot="start" name="save"></ion-icon>
              Salvar
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>