.cabecalho {
    margin-top: 5px;
    background: rgb(94, 94, 95);
    color: white;
}
.subtitulo{
    background:  rgb(127, 127, 129); 
    color: white;
}
.valores{
    background:  rgb(198, 198, 201); 
    padding-top: 5px;
    padding-bottom: 5px;
}