.cabecalho {
    margin-top: 5px;
    background: #1f335e;
    color: white;
}
.subtitulo{
    background:  #1B4F72; 
    color: white;
}
.valores{
    background: #AED6F1; 
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;    
}