<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Verções
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="full">
        <ion-label>
            <h1><b>Orçamento: 33118818</b></h1>
        </ion-label>
    </ion-item>
    <ion-list> 
        <ion-item *ngFor="let versao of versoes" (click)="ItemClick()"  style="--padding-end:16px;">
          <ion-label color="primary">
            <h4>{{versao.sequencia}} - {{versao.data}}</h4>
            <p>{{versao.observacao}}</p>
          </ion-label>
        </ion-item>
      </ion-list>     
</ion-content>
