<ion-list>
  <ion-item lines="full">
    <ion-label>Cliente</ion-label>
    <ion-icon slot="start" name="business"></ion-icon>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Orçamento</ion-label>
    <ion-icon slot="start" name="clipboard"></ion-icon>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Data de Criação</ion-label>
    <ion-icon slot="start" name="calendar"></ion-icon>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Vencimento</ion-label>
    <ion-icon slot="start" name="calendar"></ion-icon>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Valor</ion-label>
    <ion-icon slot="start" name="cash"></ion-icon>
  </ion-item>
</ion-list>