<ion-content padding>
    <div class="menu">
        <div class="topo">
        <ion-item> 
            <ion-label position="fixed">Usuário</ion-label>
            <ion-input name="razaoSocial" type="text"></ion-input>
        </ion-item>  
        <ion-item>
            <ion-label position="fixed">Senha</ion-label>
            <ion-input name="cep" type="password" ></ion-input>
        </ion-item>   
        <ion-item class="selecao">
            <ion-label position="floating">Ambiente</ion-label>
            <ion-select>
            <ion-select-option selected value="P">PRODUCAO</ion-select-option>
            <ion-select-option value="H">HOMOLOGACAO</ion-select-option>
            </ion-select>
        </ion-item> 
        <ion-button shape="round" fill="solid" color="light">CONECTAR</ion-button>
       
    </div>
    </div>
</ion-content>
