ion-content{
    --padding-top: 10%;
    --color:#f1f1f1;
}

.corpo{
    background: url(src\assets\login.png);
    max-width: 343px;
    height: 292px;
    background-size: 100% 292px;
    background-repeat:no-repeat;
    margin:auto;
}
.espaco{
    height: 90px;
}
.topo{
    padding: 5px;
}

ion-item{
    --background:transparent;
    --color:#FFF;
    --highlight-color-focused:#FFF;
    --padding-left: 0px;
    margin-top: 5px;
}

ion-item ion-label{
    --color:#ECB731;
    font-weight: bold;
}

ion-button{
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 0px;
    margin-left: 16px;   
    --border-radius: 0;
}
ion-select{
  max-width: 100%;
}