ion-content{
    --padding-top: 90px;
    --color:#f1f1f1;
}

.corpo{
    background: url(src\assets\login.png);
    max-width: 416px;
    height: 354px;
    background-size: 100% 354px;
    background-repeat:no-repeat;
    margin:auto;
}
.espaco{
    height: 110px;
}
.topo{
    padding: 5px;
}

ion-item{
    --background:transparent;
    --color:#FFF;
    --highlight-color-focused:#FFF;
    padding-left: 0px;
    margin-left: 0px;
}

ion-item ion-label{
    --color:#ECB731;
    font-weight: bold;
}

ion-button{
    margin-top: 16px;
    margin-left: 16px;   
    --border-radius: 0;
}