<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Impostos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="cabecalho">
      <ion-col>
        IPI
      </ion-col>
    </ion-row>
    <ion-row class="subtitulo">
      <ion-col>
        Alíquota
      </ion-col>
      <ion-col>
        Base
      </ion-col>
      <ion-col>
        Valor
      </ion-col>
    </ion-row>
    <ion-row class="valores">
      <ion-col>
        0%
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
    </ion-row>
    <ion-row class="cabecalho">
      <ion-col>
        ICMS
      </ion-col>
    </ion-row>
    <ion-row class="subtitulo">
      <ion-col>
        Alíquota
      </ion-col>
      <ion-col>
        Base
      </ion-col>
      <ion-col>
        Valor
      </ion-col>
    </ion-row>
    <ion-row class="valores">
      <ion-col>
        0%
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
    </ion-row>
    <ion-row class="cabecalho">
      <ion-col>
        ISS
      </ion-col>
    </ion-row>
    <ion-row class="subtitulo">
      <ion-col>
        Alíquota
      </ion-col>
      <ion-col>
        Base
      </ion-col>
      <ion-col>
        Valor
      </ion-col>
    </ion-row>
    <ion-row class="valores">
      <ion-col>
        0%
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
    </ion-row>
    <ion-row class="cabecalho"> 
      <ion-col>
        PIS
      </ion-col>
    </ion-row>
    <ion-row class="subtitulo">
      <ion-col>
        Alíquota
      </ion-col>
      <ion-col>
        Base
      </ion-col>
      <ion-col>
        Valor
      </ion-col>
    </ion-row>
    <ion-row class="valores">
      <ion-col>
        0%
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
    </ion-row>
    <ion-row class="cabecalho">
      <ion-col>
        COFINS
      </ion-col>
    </ion-row>
    <ion-row class="subtitulo">
      <ion-col>
        Alíquota
      </ion-col>
      <ion-col>
        Base
      </ion-col>
      <ion-col>
        Valor
      </ion-col>
    </ion-row>
    <ion-row class="valores">
      <ion-col>
        0%
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" style="padding: 0px;">
        <ion-row class="cabecalho">
          <ion-col>
            Substituição Tributária
          </ion-col>
        </ion-row>
        <ion-row class="subtitulo">
          <ion-col>
            Base
          </ion-col>
          <ion-col>
            Valor
          </ion-col>
        </ion-row>
        <ion-row class="valores">
          <ion-col>
            R$ 00,00
          </ion-col>
          <ion-col>
            R$ 00,00
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4" style="padding: 0px;">
        <ion-row class="cabecalho">
          <ion-col>
            Suframa
          </ion-col>
        </ion-row>
        <ion-row class="subtitulo">
            <ion-col>
              Valor
            </ion-col>
          </ion-row>
        <ion-row class="valores">
          <ion-col>
            R$ 00,00
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="cabecalho">
      <ion-col>
        FCP
      </ion-col>
    </ion-row>
    <ion-row class="subtitulo">
      <ion-col>
        Alíquota
      </ion-col>
      <ion-col>
        Valor
      </ion-col>
    </ion-row>
    <ion-row class="valores">
      <ion-col>
        0%
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
    </ion-row>
    <ion-row class="cabecalho">
      <ion-col>
        ICMS Destinatário
      </ion-col>
    </ion-row>
    <ion-row  class="subtitulo">
      <ion-col>
        Alíquota
      </ion-col>
      <ion-col>
        Valor
      </ion-col>
    </ion-row>
    <ion-row class="valores">
      <ion-col>
        0%
      </ion-col>
      <ion-col>
        R$ 00,00
      </ion-col>
    </ion-row>
    <ion-row class="cabecalho">
      <ion-col>
        % ICMS Interestadual
      </ion-col>
      <ion-col>
        % ICMS Partilha
      </ion-col>
      <ion-col>
        Valor ICMS Remetente
      </ion-col>
    </ion-row>
    <ion-row class="valores">
      <ion-col>
        0% 
      </ion-col>
      <ion-col>
        0%
      </ion-col>
      <ion-col>
        0%
      </ion-col>
    </ion-row>
    <ion-row class="cabecalho">
        <ion-col>
          FECP ICMS
        </ion-col>
      </ion-row>
      <ion-row class="subtitulo">
        <ion-col>
          Alíquota
        </ion-col>
        <ion-col>
          Valor
        </ion-col>
      </ion-row>
      <ion-row class="valores">
        <ion-col>
          0%
        </ion-col>
        <ion-col>
          R$ 00,00
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>