<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
          Itens
      </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-searchbar showCancelButton placeholder="Buscar"></ion-searchbar>
  <ion-content style="padding:0;"> 
    <ion-list>
      <ion-item *ngFor="let item of result; let i=index" (click)="ItemClick(i)"  style="--padding-end:16px;">
        <ion-label name="item" color="primary" text-wrap>{{item.Codigo}} - {{item.Descricao}}</ion-label>
      </ion-item>
    </ion-list> 
</ion-content>