<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Orçamentos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of result" (click)="ItemClick()"  style="--padding-end:16px;">
          <ion-label color="primary" text-wrap>Nº {{item.OrdemVenda | json}} Cliente: {{item.CodigoCliente | json}} - {{item.DescricaoCliente | json}}  Total: {{item.Total | json}}</ion-label>
        </ion-item>
       </ion-list> 
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="fabClick()" color="primary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>