<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Endereços
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content >
  <ion-searchbar showCancelButton placeholder="Buscar Endere~p"></ion-searchbar>
  <ion-list>
    <ion-list-header>
          <ion-label><h1>Selecione um Endereço</h1></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let endereo of enderecos; let i:index " (click)="ItemClick(i)" style="--padding-end:16px; font-weight: bold;">
        <ion-label color="primary" text-wrap>{{enderecos}}</ion-label>
    </ion-item>
  </ion-list> 
</ion-content>
