<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
          Condição de Pagamento
      </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-searchbar showCancelButton placeholder="Buscar"></ion-searchbar>
  <ion-content style="padding:0;">
     <ion-list>
      <ion-item *ngFor="let condicaoPagamento of condicoesPagamento; let i=index" (click)="ItemClick(i)"  style="--padding-end:16px;">
        <ion-label color="primary" text-wrap>{{condicaoPagamento}}</ion-label>
      </ion-item>
     </ion-list> 
</ion-content>
