<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Itens
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
        <ion-item lines="full">
                <ion-label text-wrap>
                    <h1><b>Orç.: 33118818</b></h1>
                    <p>{{itens.length}} Itens | Total: <b> R$ 2.400,00 </b></p>
                </ion-label>
                
                <ion-button (click)="showMenu()" expand="full">
                    Ordernar
                    <ion-icon slot="start" name="funnel"></ion-icon>
                </ion-button>
            </ion-item>
    <ion-searchbar showCancelButton placeholder="Buscar"></ion-searchbar>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="fabClick()" color="secondary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid>
        <ion-row wrap>
            <ion-col size="12" size-md="6" *ngFor="let item of itens">
                <ion-card>
                    <ion-toolbar color="primary">
                        <ion-title>{{item.sequencia}} | {{item.codigo}}</ion-title>
                        <ion-buttons slot="end">
                            <ion-button fill="clear" (click)="editItemClick()">
                                <ion-icon color="light" slot="icon-only" name="create"></ion-icon>
                            </ion-button>
                            <ion-button fill="clear">
                                <ion-icon color="danger" slot="icon-only" name="close-circle"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row size="12">
                                <ion-col>
                                    <h2><b>{{item.descricao}}</b></h2>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>Unidade:</ion-col>
                                <ion-col><b>{{item.unidade}}</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>Quantidade:</ion-col>
                                <ion-col><b>{{item.quantidade}}</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>Tabela de Preços:</ion-col>
                                <ion-col><b>{{item.tabelaPreco}}</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>Preço:</ion-col>
                                <ion-col><b>{{item.preco}}</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>% Desconto:</ion-col>
                                <ion-col><b>{{item.percentualDesconto}}</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>Total:</ion-col>
                                <ion-col><b>{{item.total}}</b></ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>